<section class="vh-100"  style="background-color: rgb(255, 255, 255);">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">LOGIN</p>
  
                  <form class="mx-1 mx-md-4" [formGroup]="loginForm">
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example1c">Account no</label>
                        <input formControlName="acno"  type="text" id="acno1" name="acno" id="form3Example1c" class="form-control" />
                        
                      </div>
                    </div>
                    <div *ngIf="this.loginForm.get('acno')?.errors && this.loginForm.get('acno')?.touched"  style="color: red;">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Invalid Account Number
                    </div>


                   
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example3c">Password</label>
                        <input formControlName="pswd"  type="password" id="pswd1" name="pswd" id="form3Example3c" class="form-control" />
                        
                      </div>
                    </div>
  
                    <div *ngIf="this.loginForm.get('pswd')?.errors && this.loginForm.get('pswd')?.touched"  style="color: red;">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Invalid Account Number
                    </div>
                    <div class="form-check d-flex justify-content-center mb-5">
                      <!-- <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" /> -->
                      <label class="form-check-label" for="form2Example3">
                        Do not have an Account ? <a routerLink="register">Sign Up</a>
                      </label>
                    </div> 
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" (click)="login()" id="loginButton " class="btn btn-primary btn-lg">Login</button>
                    </div>
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://static.vecteezy.com/system/resources/previews/005/260/247/original/illustration-graphic-cartoon-character-of-money-saving-of-bank-free-vector.jpg"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>