html{
    height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Antonio:wght@500&family=Combo&family=Comfortaa:wght@300&family=Dosis:wght@200;500&family=Island+Moments&family=Kolker+Brush&family=Montserrat:ital,wght@0,300;1,100&family=Playfair+Display:ital,wght@1,500&family=Quicksand:wght@600&family=Qwitcher+Grypen:wght@400;700&display=swap');

.body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: #4567ff;
  background: -webkit-linear-gradient(to right, rgba(102, 126, 234, 0.5), rgba(118, 75, 162, 0.5));
  background: linear-gradient(to right, rgba(44, 83, 255, 0.5), rgba(118, 75, 162, 0.5))
}

.box{
    align-items: center;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 400px;
    padding: 40px;
    /* transform: translate(-50%,-50%); */
    background: rgba(0, 123, 255, 0.915);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}


.box1{
    align-items: center;
    position: absolute;
    top: 10%;
    left: 60%;
    width: 400px;
    padding: 40px;
    /* transform: translate(-50%,-50%); */
    background: rgba(0, 123, 255, 0.915);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.box1 h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.box .userbox{
position: relative;
}

.box1 .userbox{
    position: relative;
    }

.box .userbox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid  #fff;
    outline: none;
    background: transparent;
}
.box1 .userbox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid  #fff;
    outline: none;
    background: transparent;
}


.box .userbox label{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.box1 .userbox label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }

.box .userbox input:focus ~ label,
.box .userbox input:valid ~ label{
    top:-20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.box1 .userbox input:focus ~ label,
.box1 .userbox input:valid ~ label{
    top:-20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}


    a {
        margin-left: 10px;
        text-decoration:none;
        color: rgb(0, 0, 0);
    }
/* .link{
    margin-left: 140px ;
} */

.loginlink{
  margin-left: 40px;
  color: white;
}


a:hover{
    text-decoration: underline;
    color: #000271;
}



.box form button{
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #004080;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border: none;
    border-radius: 5px;
}


.box1 form button{
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #004080;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border: none;
    border-radius: 5px;
}

.id{
  margin-left: 190px;
}

.box button:hover{
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    /* box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4; */
}

.box1 button:hover{
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    /* box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4; */
}



.style1{
  opacity: 0;
}



.container h2{
    margin: 0 0 30px;
    padding: 0;
    color: rgb(0, 0, 0);
    text-align: center;
}


.center {
    margin: 0 0 10px;
    padding: 0;
    color: rgb(0, 0, 0);
    text-align: center;
}

img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    align-items: center;
}
.container h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}