

<section class="intro">
    
    <div class="bg-image h-100" style="background-image: url(https://i.postimg.cc/R0VHDfLZ/pexels-pixabay-259132-1.jpg);">
      <div class="mask d-flex align-items-center h-100">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-6">
              <div class="card mask-custom">
                <div class="card-body">
                  <div class="table-responsive">
                    <h1 style="color: aliceblue; text-align: center;" >TRANSACTION HISTORY</h1>
                    <table class="table table-borderless text-white mb-0">
                      <thead>
              <tr>
                <th>Type</th>
                <th>Amount</th>
            </thead>
            <tbody >
                <tr *ngFor="let t of transaction">
                    <td>{{t.Type}}</td>
                    <td>$ {{t.Amount}}</td>
                </tr>
        <!-- 
                <tr>
                    <td>Debit</td>
                    <td>1000</td>
                </tr> -->
            </tbody>
          </table>
          <a routerLink="/dashboard">HOME</a>
    </div>

    

<div class="col-4"></div>

</div>

