<div class="box">
    <div class="center">
        <img id="img" src="bnk.webp" alt="">
    </div>


    <h2>REGISTRATION FORM</h2>

    <form onsubmit="return  false" >


        <div class="userbox">
            <input type="text" id="username"  name="" required>
            <label>Username</label>
        </div>
        <div class="userbox">
            <input type="text" id="accno"  name="" required>
            <label>Account No</label>
        </div>
        <div class="userbox">
            <input type="password" id="pass" name="d" required>
            <label>Password</label>
        </div>

       &nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox" value="" required><label style="color:white ;">Accept all terms and conditions</label> <br>

        <button type="submit" onclick="addAccount()" id="signinButton ">
            
            Sign in</button> <br> <br>

        <span class="loginlink">Already have an account ?<a class="link" href="index.html">login</a></span>



    </form>
</div>